absl-py
jax[cuda]
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
git+https://github.com/josipd/torch-two-sample.git
ml-collections
ninja
numpy
pandas
plotly
scikit-learn
tensorboard
tensorflow
tensorflow-addons
tensorflow_datasets
tensorflow-gan
tensorflow_io
tensorflow-probability
--extra-index-url https://download.pytorch.org/whl/cu116
torch>=1.7.0
torchvision